/sealing-key.crt
/sealing-key.key
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
# Secrets
*.key
*.pem
*.p12

# Helm
charts/
*.tgz

# IDE
.vscode/
.idea/

# macOS
.DS_Store
